{% extends 'base.html' %}
{% block text %}
	<table border="1">
		<thead>
			<tr>
				<th>name</th>
				<th>rank</th>
				<th>type</th>
				<th>profile</th>
				<th>price</th>
			</tr>
		</thead>
		<tbody>
			{% for object in objects %}
				<tr>
					<td>{{object.name}}</td>
					<td>{{object.rank}}</td>
					<td>{{object.modn}}</td>
					<td>{{object.prof}}</td>
					<td>{{object.pric}}</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
	<div class="pagination">
	    <span class="step-links">
	    	<span class='first'><a href='?page={{contains.paginator.start_index}}'>首页</a></span>
	        {% if contains.has_previous %}
	            <a href="?page={{ contains.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ contains.number }} of {{ contains.paginator.num_pages }}.
	        </span>

	        {% if contains.has_next %}
	            <a href="?page={{ contains.next_page_number }}">next</a>
	        {% endif %}
	        <span class='last'><a href='?page={{contains.paginator.num_pages}}'>尾页</a></span>
	    </span>
	</div>
{% endblock %}

{% block konsten %}
	Now we will share this
{% endblock %}